.nav {
  top: 0;
  right: 0;

  pointer-events: none;
  position: fixed;
  display: block;
  z-index: 1;
}

.nav_toggle {
  top: 2rem;
  right: 2rem;

  position: absolute;
  opacity: 0;
  z-index: 1;
}

.nav_button {
  top: 2rem;
  right: 2rem;

  height: 1.5rem;
  width: 1.5rem;

  cursor: pointer;
  pointer-events: auto;

  position: absolute;
  padding: 2px 0;
  display: block;
  z-index: 3;
}

.nav_button-part {
  height: 0.25rem;
  width: 1.5rem;

  background-color: var(--light-indigo);
  border-radius: 10px;
  box-shadow: var(--shadow);

  display: block;
  position: relative;

  transform-origin: 0;
  transition: transform 0.3s ease-in-out 0.3s, opacity 0.2s ease-in-out 0.4s,
    background-color 0.2s ease-in-out 0.2s;
  will-change: transform, opacity, background-color;
}

.nav_button-part + .nav_button-part {
  margin-top: 0.25rem;
}

.nav_button-part:first-child {
  transform-origin: 0 0;
}

.nav_button-part:last-child {
  transform-origin: 0 100%;
}

.nav_toggle:checked ~ .nav_button .nav_button-part {
  opacity: 1;
  background-color: var(--pink);
  transform: rotate(45deg);
}

.nav_toggle:checked ~ .nav_button .nav_button-part:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.nav_toggle:checked ~ .nav_button .nav_button-part:nth-child(3) {
  opacity: 1;
  transform: rotate(-45deg);
}

.nav_items-container {
  width: 100vw;
  max-width: 25rem;

  transform: translateY(-100%);
  transform-origin: 0;
  transition: transform 0.5s cubic-bezier(0.75, 0.2, 0.1, 1);
  will-change: transform;

  padding: 1rem;
  pointer-events: auto;
}

@media (min-width: 56.25rem) {
  .nav_items-container {
    width: auto;
    max-width: none;
  }
}

.nav_toggle:checked ~ .nav_items-container {
  transform: translateY(0);
}

.nav_list {
  display: flex;
  flex-direction: column;

  background: #3f3651;
  text-align: center;
  border-radius: 1.75rem;

  margin: 0;
  padding: 3.5rem 0 2rem;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media (min-width: 56.25rem) {
  .nav_list {
    height: 3.5rem;
    padding: 0 4rem 0 2rem;
    flex-direction: row;
  }
}

.nav_link {
  color: var(--pink);
  font-size: 20px;
  text-decoration: none;

  transition: color 0.2s ease-in-out;
  will-change: color;

  height: 3.5rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

@media (min-width: 56.25rem) {
  .nav_link {
    padding: 0 1rem;
  }
}

.nav_link:hover,
.nav_link:active,
.nav_link:focus {
  color: var(--creamy);
}
